// Telefon – najmniejsze ekrany.
$breakpoint-mobile: 576px;

// Tablet i większe telefony w orientacji poziomej.
$breakpoint-tablet: 768px;

// Laptop i mały komputer.
$breakpoint-desktop: 1024px;

// Duży ekran desktopowy.
$breakpoint-large: 1440px;
